<section class="home-area element-cover-bg left-align-variant" id="home-area">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-lg-8 home-content text-left">
        <h5 class="greet">Welcome to <b>Plex</b></h5>
        <h1 class="skills cd-headline clip">We are
          <span class="cd-words-wrapper single-skill">
            <b class="is-visible">Creative</b>
            <b>Reliable</b>
            <b>Perfect</b>
            <b>Plex</b>
          </span>
        </h1>
        <p class="description">We are a Creative team that is passionate about creating the world’s best Designs and Creative digital assets for Startups and Leading Brands...</p>
        <a class="btn work button-main" data-scroll href="#portfolio-area" role="button">Learn More</a>
        <a class="btn hire button-main button-scheme" data-scroll href="#contact-area" role="button">Get Started</a>
      </div>
      <div class="scroll-icon">
        <a data-scroll href="#about-area">
          <div class="mouse">
            <div class="wheel"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>