@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

$font-1: 'Open Sans',
sans-serif;
$font-2: 'Open Sans',
sans-serif;
$font-3: 'Exo 2',
sans-serif;
$transition: all .15s ease-in-out;
$transition-x2: all .1s ease-in-out;