.testimonials-area {
  background-color: #fff;
  padding: 95px 0;

  .section-heading {
    margin-bottom: 45px;
  }

  .single-review {
    a:hover {
      text-decoration: none;
    }

    .quote-icon {
      font-size: 66px;
      color: #666;
      display: inline-block;
      margin-bottom: 25px;
      line-height: 100%;
    }

    .client-review {
      margin-bottom: 31px;
      font-weight: 400;
      color: #555;
      font-size: 16px;
      font-style: italic;
    }

    .client-details {
      text-align: left;
      margin-bottom: 30px;

      .client-avatar {
        width: 46px;
        margin-right: 11px;
        font-family: $font-1;
        font-weight: 600;
        box-shadow: 0 0 7px 0 rgba(#000, .33);
      }

      .client-name {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 14px;
        color: #333;
      }

      .client-role {
        display: inline-block;
        font-size: 13px;
        color: #888;
        font-weight: 600;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .testimonials-area {
    .single-review {
      .client-review {
        font-size: 14px;
      }
    }
  }
}