<section class="single-section about-area" id="about-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2 class="section-title">Who are we?</h2>
          <p class="section-description">Know more about us</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center about-intro">
      <div class="col-12 col-sm-8">
        <p>
          We are <b>Plex</b>. An experimental team of thinkers, creators and experienced Designers that are passionate about creating the world’s best Logos, Mockups, UI/UX, Graphic Designs for Startups and Brands.
          <br>
          We convert a vision and an idea into meaningful and useful products.
        </p>
      </div>
    </div>
    <div class="row about-services">
      <div class="col-md-4">
        <div class="single-service">
          <i class="icon ion-ios-rocket"></i>
          <h4 class="service-title">Branding</h4>
          <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service">
          <i class="icon ion-logo-sass"></i>
          <h4 class="service-title">Unique Design</h4>
          <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service">
          <i class="icon ion-logo-ionic"></i>
          <h4 class="service-title">Customer Support</h4>
          <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center about-video">
      <div class="col-12 col-lg-6 content-part">
        <h3 class="video-title">Watch our Video</h3>
        <p class="video-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia cum quasi assumenda culpa praesentium consectetur voluptatibus expedita. Voluptatem tempore, aspernatur rem facilis, distinctio nemo! Odio velit, nemo dolorem voluptas!
        </p>
        <p class="video-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni neque voluptatibus aut, inventore reiciendis, laboriosam sed.
        </p>
        <a class="btn work button-main button-scheme" data-scroll href="#portfolio-area" role="button">Our Work</a>
      </div>
      <div class="col-12 col-lg-6 video-part">
        <a href="https://www.youtube.com/watch?v=doteMqP6eSc" class="media-lightbox">
          <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item element-cover-bg">
              <span class="play-wrapper">
                <i class="icon ion-md-play"></i>
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>