<section class="single-section blog-area" id="blog-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2 class="section-title">Our Blog</h2>
          <p class="section-description">Check out our latest blog posts</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card">
          <a href="#0">
            <img class="card-img-top" src="img/post-1.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <a href="#0">
              <h5 class="card-title">Top tools for Photographers</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
            <div class="media post-summary">
              <a class="align-self-center" href="#0">
                <img src="img/client-1.jpg" alt="Author" class="img-fluid rounded-circle author-avatar">
              </a>
              <div class="media-body align-self-center">
                <a href="#0">
                  <h6 class="author-name">Daniel Smith</h6>
                </a>
                <span class="post-date">15 Aug 18</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <a href="#0">
            <img class="card-img-top" src="img/post-2.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <a href="#0">
              <h5 class="card-title">Take a tour of our office</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
            <div class="media post-summary">
              <a class="align-self-center" href="#0">
                <img src="img/client-1.jpg" alt="Author" class=" img-fluid rounded-circle author-avatar">
              </a>
              <div class="media-body align-self-center">
                <a href="#0">
                  <h6 class="author-name">Daniel Smith</h6>
                </a>
                <span class="post-date">8 Aug 18</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card mb-0">
          <a href="#0">
            <img class="card-img-top" src="img/post-3.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <a href="#0">
              <h5 class="card-title">5 Tips for doing Business online</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
            <div class="media post-summary">
              <a class="align-self-center" href="#0">
                <img src="img/client-3.jpg" alt="Author" class=" img-fluid rounded-circle author-avatar">
              </a>
              <div class="media-body align-self-center">
                <a href="#0">
                  <h6 class="author-name">Daniel Smith</h6>
                </a>
                <span class="post-date">27 July 18</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>