<section class="single-section contact-area" id="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2 class="section-title">Get in Touch</h2>
          <p class="section-description">Feel free to contact us anytime</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7">
        <form class="contact-form" id="contact-form" method="post" action="php/contact.php">
          <h4 class="form-title">Message Us</h4>
          <div class="row">
            <div class="col-12 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="contact-name" placeholder="Name" required>
            </div>
            <div class="col-12 col-md-6 form-group">
              <input type="email" name="email" class="form-control" id="contact-email" placeholder="Email" required>
            </div>
            <div class="col-12 form-group">
              <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" required>
            </div>
            <div class="col-12 form-group custom-margin">
              <textarea name="message" class="form-control" id="contact-message" placeholder="Message" rows="5" required></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn button-main button-scheme" id="contact-submit">Send Message</button>
              <p class="feedback-error">Oops! Something went wrong. Please try again.</p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-5">
        <div class="contact-info">
          <h4 class="info-title">Contact Info</h4>
          <p class="info-description">If you have any questions regarding our product or services, please feel free to contact us anytime!</p>
          <ul class="list-unstyled">
            <li>
              <div class="media align-items-center">
                <span class="info-icon">
                  <i class="icon ion-logo-ionic"></i>
                </span>
                <div class="media-body">
                  <h6 class="info-type">Company</h6>
                  <span class="info-details">Plex Ltd.</span>
                </div>
              </div>
            </li>
            <li>
              <div class="media align-items-center">
                <span class="info-icon">
                  <i class="icon ion-md-map"></i>
                </span>
                <div class="media-body">
                  <h6 class="info-type">Location</h6>
                  <span class="info-details">4155 Mann Island, Liverpool L3, United Kingdom.</span>
                </div>
              </div>
            </li>
            <li>
              <div class="media align-items-center">
                <span class="info-icon">
                  <i class="icon ion-md-call"></i>
                </span>
                <div class="media-body">
                  <h6 class="info-type">Call Me</h6>
                  <span class="info-details"><a href="tel:+441632967704">+44 1632 967704</a></span>
                </div>
              </div>
            </li>
            <li>
              <div class="media align-items-center">
                <span class="info-icon">
                  <i class="icon ion-md-send"></i>
                </span>
                <div class="media-body">
                  <h6 class="info-type">Email Us</h6>
                  <span class="info-details"><a href="mailto:daniel@example.com">support@example.com</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>