<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
<!-- Web fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:600%7COpen+Sans:400,400i,600,600i,700,800">
<!-- CSS vendors -->
<link rel="stylesheet" href="css/bootstrap-custom.css">
<link rel="stylesheet" href="css/ionicons.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
<!-- Main CSS -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/colors/main-blue.css" id="color-scheme">
<!-- Custom CSS (Add your custom CSS styles to this file) -->
<link rel="stylesheet" href="css/custom.css">