<section class="single-section element-cover-bg getstarted-area" id="getstarted-area">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="getstarted-title">Let's Get started!</h1>
        <p class="getstarted-description">We offer a variety of plans that fits all budgets to get your project done.</p>
        <a class="btn getstarted button-main" data-scroll href="#pricing-area" role="button">See Plans</a>
      </div>
    </div>
  </div>
</section>