<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.nav.min.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Set,Array.from,Object.assign,Array.prototype.find,Array.prototype.includes"></script>
<script src="js/shuffle.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.mb.YTPlayer.min.js"></script>
<script src="js/particles.js"></script>
<script src="js/main.js"></script>
<!-- Custom JS (Add your custom JS scripts to this file) -->
<script src="js/custom.js"></script>