<section class="single-section portfolio-area" id="portfolio-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2 class="section-title">Portfolio</h2>
          <p class="section-description">Showcasing some of our best work</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <ul class="list-inline filter-control d-flex justify-content-center" role="group" aria-label="Filter Control">
          <li class="list-inline-item tab-active" data-group="all">All</li>
          <li class="list-inline-item" data-group="brand">Brand</li>
          <li class="list-inline-item" data-group="design">Design</li>
          <li class="list-inline-item" data-group="photos">Photos</li>
        </ul>
        <div class="shufflejs" id="shufflejs">
          <div class="js-item col-6 col-lg-4" data-groups='["design"]'>
            <a class="portfolio-popup" href="#item-1">
              <div class="item-overlay">
                <img class="img-fluid" alt="Item" src="img/item-1.jpg">
                <div class="overlay-content">
                  <h6 class="overlay-title">Label Tag Mockup</h6>
                  <span class="overlay-more">More Info</span>
                </div>
              </div>
            </a>
            <div class="item-lightbox mfp-hide" id="item-1">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-5">
                    <div class="lightbox-gallery owl-carousel owl-theme">
                      <img class="img-fluid item-img" alt="Item" src="img/item-1.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-2.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-3.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-4.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-5.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-6.jpg">
                    </div>
                  </div>
                  <div class="col-12 col-lg-7">
                    <div class="lightbox-details">
                      <h3 class="item-title">Label Tag Mockup</h3>
                      <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                      <p class="item-description last-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                      <ul class="list-inline item-info">
                        <li class="list-inline-item">
                          <span>Client:</span>
                          <p>Envato</p>
                        </li>
                        <li class="list-inline-item">
                          <span>Categories:</span>
                          <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Date:</span>
                          <p>12 May, 2018</p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Technologies:</span>
                          <p>HTML5, SCSS, JS</p>
                        </li>
                      </ul>
                      <a class="btn item-visit button-main button-scheme" href="#0" role="button">Visit Project</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="js-item col-6 col-lg-4" data-groups='["photos"]'>
            <a class="portfolio-popup" href="#item-2">
              <div class="item-overlay">
                <img class="img-fluid" alt="Item" src="img/item-2.jpg">
                <div class="overlay-content">
                  <h6 class="overlay-title">3D Bag Mockup</h6>
                  <span class="overlay-more">More Info</span>
                </div>
              </div>
            </a>
            <div class="item-lightbox mfp-hide" id="item-2">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-5">
                    <div class="lightbox-gallery owl-carousel owl-theme">
                      <img class="img-fluid item-img" alt="Item" src="img/item-2.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-1.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-3.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-4.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-5.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-6.jpg">
                    </div>
                  </div>
                  <div class="col-12 col-lg-7">
                    <div class="lightbox-details">
                      <h3 class="item-title">3D Bag Mockup</h3>
                      <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                      <p class="item-description last-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                      <ul class="list-inline item-info">
                        <li class="list-inline-item">
                          <span>Client:</span>
                          <p>Envato</p>
                        </li>
                        <li class="list-inline-item">
                          <span>Categories:</span>
                          <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Date:</span>
                          <p>12 May, 2018</p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Technologies:</span>
                          <p>HTML5, SCSS, JS</p>
                        </li>
                      </ul>
                      <a class="btn item-visit button-main button-scheme" href="#0" role="button">Visit Project</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="js-item col-6 col-lg-4" data-groups='["design"]'>
            <a class="portfolio-popup" href="#item-3">
              <div class="item-overlay">
                <img class="img-fluid" alt="Item" src="img/item-3.jpg">
                <div class="overlay-content">
                  <h6 class="overlay-title">Modern Bag Design</h6>
                  <span class="overlay-more">More Info</span>
                </div>
              </div>
            </a>
            <div class="item-lightbox mfp-hide" id="item-3">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-5">
                    <div class="lightbox-gallery owl-carousel owl-theme">
                      <img class="img-fluid item-img" alt="Item" src="img/item-3.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-1.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-2.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-4.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-5.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-6.jpg">
                    </div>
                  </div>
                  <div class="col-12 col-lg-7">
                    <div class="lightbox-details">
                      <h3 class="item-title">Modern Bag Design</h3>
                      <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                      <p class="item-description last-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                      <ul class="list-inline item-info">
                        <li class="list-inline-item">
                          <span>Client:</span>
                          <p>Envato</p>
                        </li>
                        <li class="list-inline-item">
                          <span>Categories:</span>
                          <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Date:</span>
                          <p>12 May, 2018</p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Technologies:</span>
                          <p>HTML5, SCSS, JS</p>
                        </li>
                      </ul>
                      <a class="btn item-visit button-main button-scheme" href="#0" role="button">Visit Project</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="js-item col-6 col-lg-4 mb-lg-0" data-groups='["brand"]'>
            <a class="portfolio-popup" href="#item-4">
              <div class="item-overlay">
                <img class="img-fluid" alt="Item" src="img/item-4.jpg">
                <div class="overlay-content">
                  <h6 class="overlay-title">Coffee Cup Design</h6>
                  <span class="overlay-more">More Info</span>
                </div>
              </div>
            </a>
            <div class="item-lightbox mfp-hide" id="item-4">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-5">
                    <div class="lightbox-gallery owl-carousel owl-theme">
                      <img class="img-fluid item-img" alt="Item" src="img/item-4.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-1.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-2.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-3.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-5.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-6.jpg">
                    </div>
                  </div>
                  <div class="col-12 col-lg-7">
                    <div class="lightbox-details">
                      <h3 class="item-title">Coffee Cup Design</h3>
                      <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                      <p class="item-description last-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                      <ul class="list-inline item-info">
                        <li class="list-inline-item">
                          <span>Client:</span>
                          <p>Envato</p>
                        </li>
                        <li class="list-inline-item">
                          <span>Categories:</span>
                          <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Date:</span>
                          <p>12 May, 2018</p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Technologies:</span>
                          <p>HTML5, SCSS, JS</p>
                        </li>
                      </ul>
                      <a class="btn item-visit button-main button-scheme" href="#0" role="button">Visit Project</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="js-item col-6 mb-0 col-lg-4 mb-lg-0" data-groups='["brand"]'>
            <a class="portfolio-popup" href="#item-5">
              <div class="item-overlay">
                <img class="img-fluid" alt="Item" src="img/item-5.jpg">
                <div class="overlay-content">
                  <h6 class="overlay-title">T-Shirt Design</h6>
                  <span class="overlay-more">More Info</span>
                </div>
              </div>
            </a>
            <div class="item-lightbox mfp-hide" id="item-5">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-5">
                    <div class="lightbox-gallery owl-carousel owl-theme">
                      <img class="img-fluid item-img" alt="Item" src="img/item-5.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-1.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-2.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-3.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-4.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-6.jpg">
                    </div>
                  </div>
                  <div class="col-12 col-lg-7">
                    <div class="lightbox-details">
                      <h3 class="item-title">T-Shirt Design</h3>
                      <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                      <p class="item-description last-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                      <ul class="list-inline item-info">
                        <li class="list-inline-item">
                          <span>Client:</span>
                          <p>Envato</p>
                        </li>
                        <li class="list-inline-item">
                          <span>Categories:</span>
                          <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Date:</span>
                          <p>12 May, 2018</p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Technologies:</span>
                          <p>HTML5, SCSS, JS</p>
                        </li>
                      </ul>
                      <a class="btn item-visit button-main button-scheme" href="#0" role="button">Visit Project</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="js-item col-6 mb-0 col-lg-4 mb-lg-0" data-groups='["photos"]'>
            <a class="portfolio-popup" href="#item-6">
              <div class="item-overlay">
                <img class="img-fluid" alt="Item" src="img/item-6.jpg">
                <div class="overlay-content">
                  <h6 class="overlay-title">Packaging Box Mockup</h6>
                  <span class="overlay-more">More Info</span>
                </div>
              </div>
            </a>
            <div class="item-lightbox mfp-hide" id="item-6">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-5">
                    <div class="lightbox-gallery owl-carousel owl-theme">
                      <img class="img-fluid item-img" alt="Item" src="img/item-6.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-1.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-2.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-3.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-4.jpg">
                      <img class="img-fluid item-img" alt="Item" src="img/item-5.jpg">
                    </div>
                  </div>
                  <div class="col-12 col-lg-7">
                    <div class="lightbox-details">
                      <h3 class="item-title">Packaging Box Mockup</h3>
                      <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut sapiente quo explicabo, quasi incidunt aperiam laudantium, nemo cum eaque inventore ut voluptas voluptatibus nihil! Amet soluta, ea illo sint?</p>
                      <p class="item-description last-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos culpa deserunt aspernatur ipsa veritatis alias labore tempore laboriosam commodi! Ab neque sunt, odio voluptatibus, dignissimos nisi consequuntur atque qui explicabo eligendi, harum in? Amet aspernatur atque quam. Illo natus tempora explicabo deleniti molestias numquam debitis repudiandae, repellendus voluptatum soluta?</p>
                      <ul class="list-inline item-info">
                        <li class="list-inline-item">
                          <span>Client:</span>
                          <p>Envato</p>
                        </li>
                        <li class="list-inline-item">
                          <span>Categories:</span>
                          <p><a href="#0">Branding</a>, <a href="#0">Web Design</a></p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Date:</span>
                          <p>12 May, 2018</p>
                        </li>
                        <li class="list-inline-item mb-0">
                          <span>Technologies:</span>
                          <p>HTML5, SCSS, JS</p>
                        </li>
                      </ul>
                      <a class="btn item-visit button-main button-scheme" href="#0" role="button">Visit Project</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 sizer-element"></div>
        </div>
      </div>
    </div>
  </div>
</section>