<section class="single-section silver-bg pricing-area" id="pricing-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2 class="section-title">Choose a Plan</h2>
          <p class="section-description">Get started with our high-quality services</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <!-- Single plan -->
      <div class="col-lg-4">
        <div class="single-plan mb-4 mb-sm-5 mb-lg-0">
          <i class="plan-icon icon ion-md-egg"></i>
          <h3 class="plan-type">Standard</h3>
          <h2 class="plan-price">$19/month</h2>
          <ul class="list-unstyled plan-list">
            <li>50 GB Disk Space</li>
            <li>Unlimited Bandwidth</li>
            <li>5 MySQL Database</li>
            <li>3 FTP Users</li>
            <li>Free Domain</li>
          </ul>
          <a class="btn button-main button-scheme" href="#0" role="button">Get Standard</a>
        </div>
      </div>
      <!-- Single plan -->
      <div class="col-lg-4">
        <div class="single-plan plan-popular mb-4 mb-sm-5 mb-lg-0">
          <i class="plan-icon icon ion-ios-rocket"></i>
          <h3 class="plan-type">Professional</h3>
          <h2 class="plan-price">$29/month</h2>
          <ul class="list-unstyled plan-list">
            <li>100 GB Disk Space</li>
            <li>Unlimited Bandwidth</li>
            <li>Unlimited MySQL Database</li>
            <li>15 FTP Users</li>
            <li>Free Domain</li>
          </ul>
          <a class="btn button-main button-scheme" href="#0" role="button">Get Pro</a>
        </div>
      </div>
      <!-- Single plan -->
      <div class="col-lg-4">
        <div class="single-plan mb-0">
          <i class="plan-icon icon ion-logo-ionic"></i>
          <h3 class="plan-type">Business</h3>
          <h2 class="plan-price">$39/month</h2>
          <ul class="list-unstyled plan-list">
            <li>Unlimited Disk Space</li>
            <li>Unlimited Bandwidth</li>
            <li>Unlimited MySQL Database</li>
            <li>Unlimited FTP Users</li>
            <li>Unlimited Domains</li>
          </ul>
          <a class="btn button-main button-scheme" href="#0" role="button">Get Business</a>
        </div>
      </div>
    </div>
  </div>
</section>