<section class="single-section silver-bg services-area" id="services-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2 class="section-title">Our Services</h2>
          <p class="section-description">Services we offer to our clients</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service media">
          <i class="icon ion-logo-css3"></i>
          <div class="service-body media-body">
            <h6 class="service-title">Design Trends</h6>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service media">
          <i class="icon ion-md-images"></i>
          <div class="service-body media-body">
            <h6 class="service-title">PSD Design</h6>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service media">
          <i class="icon ion-logo-ionic"></i>
          <div class="service-body media-body">
            <h6 class="service-title">Customer Support</h6>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service mb-lg-0 media">
          <i class="icon ion-logo-wordpress"></i>
          <div class="service-body media-body">
            <h6 class="service-title">Web Development</h6>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service mb-md-0 media">
          <i class="icon ion-md-move"></i>
          <div class="service-body media-body">
            <h6 class="service-title">Fully Responsive</h6>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service mb-0 media">
          <i class="icon ion-ios-rocket"></i>
          <div class="service-body media-body">
            <h6 class="service-title">Branding</h6>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>