<section class="single-section testimonials-area" id="testimonials-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2 class="section-title">Testimonials</h2>
          <p class="section-description">What our clients think about us</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="owl-carousel owl-theme">
        <div class="col-12 col-md-8 offset-md-2">
          <div class="single-review text-center">
            <i class="icon ion-md-quote quote-icon"></i>
            <p class="client-review">Plex did an excellent creative job, addressing our request, and also providing their own graphic insight.
              Quick and professional. Highly recommended, and will definitely work with them again.</p>
            <div class="flex-row client-details">
              <div class="media justify-content-center">
                <img src="img/client-1.jpg" alt="Client" class="img-fluid rounded-circle client-avatar">
                <div class="align-self-center">
                  <h6 class="client-name">Julia Sakura</h6>
                  <span class="client-role">Envato Customer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2">
          <div class="single-review text-center">
            <i class="icon ion-md-quote quote-icon"></i>
            <p class="client-review">Plex did an excellent creative job, addressing our request, and also providing their own graphic insight.
              Quick and professional. Highly recommended, and will definitely work with them again.</p>
            <div class="flex-row client-details">
              <div class="media justify-content-center">
                <img src="img/client-2.jpg" alt="Client" class="img-fluid rounded-circle client-avatar">
                <div class="align-self-center">
                  <h6 class="client-name">John Santana</h6>
                  <span class="client-role">Entrepreneur</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2">
          <div class="single-review text-center">
            <i class="icon ion-md-quote quote-icon"></i>
            <p class="client-review">Plex did an excellent creative job, addressing our request, and also providing their own graphic insight.
              Quick and professional. Highly recommended, and will definitely work with them again.</p>
            <div class="flex-row client-details">
              <div class="media justify-content-center">
                <img src="img/client-3.jpg" alt="Client" class="img-fluid rounded-circle client-avatar">
                <div class="align-self-center">
                  <h6 class="client-name">Maria Wilson</h6>
                  <span class="client-role">Envato Customer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>